<div class="container-fluid h-100" style="padding: 0;">
  <div class="container-fluid h-100 no-padding">
    <!-- nav bar -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" style="color: #FFF">Temperature & Humidity Measurement Tool</a>
    </nav>
    <!-- settings bar -->
    <nav class="navbar navbar-light" *ngIf="dataComplete.length !== 0" style="background: gray; padding-bottom: 0">
      <form class="form-inline">
        <mat-slide-toggle
          class=""
          [(ngModel)]="graphOnly"
          [color]="color"
          [disabled]="disabled"
          name="graphOnlyForm">
          Show graph only
        </mat-slide-toggle>
        <mat-form-field class="" style="padding: 0 10px 0 10px">
          <input matInput
                 [(ngModel)]="dateStart"
                 [matDatepickerFilter]="dateFilter"
                 [matDatepicker]="pickerStart"
                 placeholder="Choose a start date (incl.)"
                 name="dateStartForm"
                 (dateChange)="onDateChange('change', $event)">
          <mat-datepicker-toggle matSuffix [for]="pickerStart">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker [touchUi]="isMobile" #pickerStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="">
          <input matInput
                 [(ngModel)]="dateEnd"
                 [matDatepickerFilter]="dateFilter"
                 [matDatepicker]="pickerEnd"
                 placeholder="Choose an end date (incl.)"
                 name="dateEndForm"
                 (dateChange)="onDateChange('change', $event)">
          <mat-datepicker-toggle matSuffix [for]="pickerEnd">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker [touchUi]="isMobile" #pickerEnd></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button style="margin: 0 0 10px 10px" (click)="refreshData()">Reload data</button>
      </form>
      <!-- latest data -->
      <div class="form-inline my-2 my-lg-0">
        <button type="button"
                class="btn btn-secondary btn-sm"
                disabled>
          Current values ({{latestDataSet.date | date:'MM/dd/yyyy hh:mm'}}): <h5
          style="margin-bottom: 0">{{latestDataSet.temperature}} °C | {{latestDataSet.humidity}}% </h5>
        </button>
      </div>
    </nav>
    <!-- core -->
    <div class="col h-75" style="">
      <div class="row h-100 align-items-center justify-content-center">
        <!-- spinner while fetching data -->
        <div class="col-1" *ngIf="!isLoadingError && dataComplete.length === 0">
          <mat-progress-spinner
            class=""
            [color]="spinnerColor"
            [mode]="spinnerMode">
          </mat-progress-spinner>
          Loading...
        </div>
        <!-- alert when no filtered data -->
        <div class="col-8" *ngIf="!isLoadingError && dataInScope.length === 0 && dataComplete.length > 0">
          <div class="alert alert-danger" style="text-align: center" role="alert">
            No data found for the given filter. Please change your filter.<br>
            Total datasets: {{dataComplete.length}}<br>
            Start date: {{dateStart | date:'MM/dd/yyyy hh:mm:ss'}}<br>
            End date: {{dateEnd | date:'MM/dd/yyyy hh:mm:ss'}}
          </div>
        </div>
        <!-- alert when connection error -->
        <div class="col-8" *ngIf="isLoadingError">
          <div class="alert alert-danger" style="text-align: center" role="alert">
            An error while loading the data from the server occurred. <br>
            Error: {{loadingError.message}}
          </div>
        </div>
        <!--table view-->
        <div class="col-md-6 h-100 table-view" *ngIf="dataInScope.length > 0 && !graphOnly">
          <table class="table table-dark table-hover">
            <thead>
            <tr>
              <th scope="col">Date & Time</th>
              <th scope="col">Temperature</th>
              <th scope="col">Humidity</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dataSet of this.dataInScope; let i = index">
              <td>{{dataSet.date | date:'MM/dd/yyyy hh:mm:ss'}}</td>
              <td>{{dataSet.temperature}} °C</td>
              <td>{{dataSet.humidity}}%</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- graph view -->
        <div class="h-100" [ngClass]="{'col-md-6 col-sm': !graphOnly, 'col-md, col-sm': graphOnly}" *ngIf="dataInScope.length > 0"
             style="">
          <app-graph *ngIf="dataInScope.length !== 0" [data]="dataInScope"></app-graph>
        </div>
      </div>
    </div>

    <!-- footer -->
    <nav class="navbar fixed-bottom navbar-light bg-dark">

    </nav>
  </div>

  <router-outlet></router-outlet>
</div>
