.table-view {
  overflow-y: scroll;
  top: 20px;
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }

}

.navbar-title {
  @media (max-width: 600px) {
    font-size: medium;
  }
}

.col-latest-data {
  @media (min-width: 767px) {
    text-align: right;
  }
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}
