Package: %PACKAGE_NAME%
Version: %PACKAGE_VERSION%
Section: base
Priority: optional
Architecture: all
Essential: no
Depends: python3, python3-pip, libgpiod2
Installed-Size: 1000
Maintainer: Jan Bissinger
Description: Temperature & humidity gathering and Firebase upload tool
