[Unit]
Description=Gather temperature sensor data

[Service]
# Run permission service
ExecStart=/usr/bin/python3 /opt/temperature/temperature-gather.py

# keep process after user logs off
RemainAfterExit=false

# Use syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=temperature-gather

[Install]
WantedBy=default.target
