[Unit]
Description=Timer for temperature-upload service

[Timer]
# run every 15 minutes
OnCalendar=*:0/15
Persistent=true

[Install]
WantedBy=timers.target